<a href="https://colab.research.google.com/github/pavannani99/naga/blob/main/S_Pavan_Kumar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Pavan")

Pavan

In [2]:
Name=input("ENter Name")
print("Your NAme is :",Name)

ENter NamePavan Kumar
Your NAme is : Pavan Kumar

In [4]:
num1=int(input("enter first number"))

num2=int(input("enter second number"))
print("num1:",num1)
print("num2:",num2)

enter first number12
enter second number12
num1: 12
num2: 12

In [5]:
num1=int(input("enter first number"))

num2=int(input("enter second number"))
hey=num1+num2
print(hey)

enter first number2344
enter second number24234233
24236577

In [6]:
num1=int(input("enter first number"))

num2=int(input("enter second number"))
num1=num1+num2
num2=num1-num2
num1=num1-num2
print(num1,num2)

enter first number12
enter second number12
12 12

In [8]:
a=10
b="hello"
c=2.34
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [9]:
x=(10,20,30,40,50)
y=[10,20,30,40,50]
z={"one":1,"two":2}
print(type(x))
print(type(y))
print(type(z))

<class 'tuple'>
<class 'list'>
<class 'dict'>

In [10]:
a=int(input(""))
b=a**2
print(b)

22
484

In [11]:
a=int(input(""))
b=int(input(""))
c=int(input(""))
d=(a+b+c)/3
print(d)

1
2
3
2.0

In [12]:
num1=int(input(""))
num1=num1*60
print(num1)

2
120

In [13]:
num1=float(input(""))
num2=float(input(""))
num3=float(input(""))
num4=num1*num2*num3
print(num4)

12
12
12
1728.0

In [18]:
num1=int(input(""))
num2=int(input(""))
num3=int(input(""))
largest=max(num1,num2,num3)
print(largest)

1
2
2
2

In [21]:
n=100
for i in range(1,n+1):
  if(i%2==0):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [22]:

n=100
for i in range(0,n):
  if(i%2!=0):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [47]:
Pan=bool(input(""))
aadhar=bool(input(""))
cibil_score=int(input(""))
if(Pan and aadhar and cibil_score>750):
  print("loan approved")
else:
  print("loan rejected")

True
True
800
loan rejected

In [28]:
a=10
b=20
c=a+b
d=a-b
e=a*b
f=a/b
print(c,d,e,f)

30 -10 200 0.5

In [30]:
a=int(input(""))
b=int(input(""))
if(a>b or a==b and b>20):
  print("true")
else:
  print("false")

25
21
true

In [31]:
num1=int(input(""))
if(num1>0):
  print("postitive")
elif(num1<0):
  print("negative")
elif(num1==0):
  print("zero")
else:
  print("error")

0
zero

In [33]:
num1=int(input(""))
if(num1%5==0 and num1%11==0):
  print("yes")
else:
  print("no")

55
yes

In [36]:
theory=int(input(""))
practical=int(input(""))
total=theory+practical
if(theory>=30 and practical>=20 and total>3=50):
  print("pass",total)
else:
  print("fail:",total)

30
30
pass 60

In [37]:
age=int(input(""))
if(age>13):
  print("child")
elif(age>=13 and age<=19):
  print("Teenage")
elif(age>19):
  print("old")
else:
  print("enter a valid age")

20
child

In [38]:
marks=int(input(""))
if(marks>=90 and marks<=100):
  print("A")
elif(marks>=80 and marks<=89):
  print("B")
elif(marks>=70 and marks<=79):
  print("C")
elif(marks>=60 and marks<=69):
  print("D")
elif(marks>=50 and marks<=59):
  print("E")
elif(marks>=0 and marks<=49):
  print("Fail")

79
C

In [54]:
User=input("")
Pass=int(input(""))
user_name="Pavan"
user_pass=1234
if(User==user_name):
  print("access approved")
  if(Pass==user_pass):
    print("access approved")
  else:
    print("access denied")

else:
  print("access denied")

Pavan
1234
access approved
access approved

In [55]:
num1=int(input(""))
num2=int(input(""))
operator=input("type only oper:")
if(operator=="+"):
  print(num1+num2)
elif(operator=="-"):
  print(num1-num2)
elif(operator=="*"):
  print(num1*num2)
elif(operator=="/"):
  print(a/b)

2
3
type only oper+
5

In [ ]:
temp=int(input(""))
if(temp>=96):
  print("normal")
elif(temp>96 and temp<98):
  print("cold")
elif(temp>=99 and temp<=105):
  print("fever")
elif(temp>105 and 110):
  print("high fever")
else:
  print("error")